.cards {
    position: relative;
    background-color: #e5e5e5;
    width: 250px;
    height: auto;
    border: solid rgb(60, 60, 80) .1px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cards:hover {
    top: -4px;
    transition: all .2s ease-in-out
}

.type {
    display: flex;

    p {
        padding: 5px 10px;
        margin-left: 10px;
        border: solid 1px #fff;
    }
}