.cards {
    position: relative;
    max-width: 220px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    p {
        font-family: "Flexo-Bold", arial, sans-serif;
    }
    img{
        width: 100%;
    }
}
.cards:nth-child(4n+1){
    margin-left: 8%;
}

.img {
    background-color: #f2f2f2fe;
}

.number {
    color: #919191;
}

.name {
    font-size: 20px;
    font-family: "Flexo-Bold", arial, sans-serif;
}

.cards:hover {
    top: -4px;
    transition: all .2s ease-in-out
}

.type {
    display: flex;
    text-align: center;

    p {
        width: 80px;
        padding: 5px 10px;
        font-family: "Flexo-Bold", arial, sans-serif;
    }

    p:first-child {
        margin-right: 10px;
    }
}

.content {
    padding-left: 20px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.input {
    margin-left: 7%;
}

.Fire {
    background-image: linear-gradient(#fd7d24fe, #ac5110fe);
    color: #fff;
}

.Water {
    background-image: linear-gradient(#4491c3fe, #245779fe);
    color: #fff;
}

.Grass {
    background-image: linear-gradient(#9bcc50fe, #618034fe);
    color: #fff;
}

.Poison {
    background-image: linear-gradient(#b97fc9fe, #5a3d63fe);
    color: #fff;
}

.Flying {
    background-image: linear-gradient(#3dc7effe, #bdb9b8fe);
}

.Bug {
    background-image: linear-gradient(#729f3ffe, #476425fe);
    color: #fff;
}

.Normal {
    background-image: linear-gradient(#a4acaffe, #2a2b2cfe);
    color: #fff;
}

.Electric {
    background-image: linear-gradient(#eed535fe, #665b0afe);
    color: #fff;
}

.Ground {
    background-image: linear-gradient(#f7de3ffe, #ab9842fe);
    color: #fff;
}

.Fairy {
    background-image: linear-gradient(#fdb9e9fe, #724e67fe);
    color: #fff;
}

.Psychic {
    background-image: linear-gradient(#f366b9fe, #852d61fe);
    color: #fff;
}

.Fighting {
    background-image: linear-gradient(#d56723fe, #552e16fe);
    color: #fff;
}

.Rock {
    background-image: linear-gradient(#a38c21fe, #3b361cfe);
    color: #fff;
}

.Steel {
    background-image: linear-gradient(#9eb7b8fe, #455455fe);
    color: #fff;
}

.Ice {
    background-image: linear-gradient(#51c4e7fe, #286375fe);
    color: #fff;
}

.Ghost {
    background-image: linear-gradient(#7b61a2fe, #1a171ffe);
    color: #fff;
}

.Dragon {
    background-image: linear-gradient(#53a4cffe, #f16e57fe);
    color: #fff;
}

.Dark {
    background-image: linear-gradient(#707070fe, #333030fe);
    color: #fff;
}